<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="box">
        <h2>Login to your BIN</h2>
        <form action="/use/login" method="POST">
            <input type="text" name="email" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="Login button" value="login">
        </form>

        <a href=#>Forget password</a>

    </div>
</body>

</html>