<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylereg.css">
</head>

<body>
    <div id="reg_box">
        <div class="left_box">
            <h1>Sign Up</h1>
            <form action="/use/register" method="POST">
                <input type="text" required name="name">
                <input type="text" required name="username" placeholder="Username" />
                <input type="email" required name="email" placeholder="Email" />
                <input type="password" required name="password" placeholder="Password" />
                <input type="submit" name="signup-button" value="Sign Up" />
            </form>

        </div>
        <div class="right_box">
            <h1>Have a google account?</h1>
            <button class="social google">Log In With Google</button>
        </div>
    </div>




</body>

</html>