<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<link rel="stylesheet" href="/css/layout.css">
<link rel="icon" href="/images/new_logo.jpg">
<body>
  <nav class="navbar">
    <div class="input-group">
      <input type="text" class="form-control" id="search-input" placeholder="Type to search">
    </div>
  </nav>
  <form action="/use/search" method="POST" id="search-form">
    <input type="hidden" name="search" id="search">
  </form>

  <div class=""><%- body %></div>

</body>
<script>
  $( "#search-input" ).keypress(function(e) {
    const phrase = $('#search-input').val()
    if((e.which == 10 || e.which == 13) && phrase != '') {

      $('#search').val(phrase)
      $('#search-form').submit()
    }
});

</script>
</html>