<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>	
	<body>
		<div class="box">
			<h2>Login to your BIN</h2>
			
				<input type="text" name= "Username" placeholder="Enter Username" required>
				<input type="password" name="Password" placeholder="Enter Password" required>
				<input type="submit" name="Login button" value="login">
				<a href=#>Forget password</a>
			
		</div>
	</body>
</html>