@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
}

a {
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}

.content .left {
  width: 65%;
  height: 100vh;
  margin: auto;
}

.content .left .first-row {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .left .first-row .f-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .left .first-row .f-left img {
  width: 60px;
  width: 60px;
  border-radius: 50%;
}

.content .left .first-row .f-left .non-image {
  margin-top: 7px;
  margin-left: 10px;
  font-weight: bold;
}

.content .left .first-row .f-left .non-image .date-size {
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  font-size: 14px;
}

.content .left .first-row .btn {
  background-color: white;
  width: 100px;
  color: red;
  font-weight: bold;
  padding: 5xp;
  border: 2px solid red;
  border-radius: 20px;
}

.content .left .first-row .btn:hover {
  background-color: red;
  color: white;
}

.content .left .second-row {
  margin-top: 30px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  height: 50px;
}

.content .left .second-row .about {
  border: 1px solid green;
  border-radius: 10px;
  padding: 0px 5px;
  color: green;
  font-size: 15px;
  width: 60px;
  margin-top: -12px;
  margin-left: 30px;
  background-color: white;
}

.content .left .second-row .inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: auto;
}

.content .left .second-row .inside .location {
  margin-left: 6%;
  font-size: 18px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .left .second-row .inside .s-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .left .second-row .inside .s-right .updated {
  font-size: 14px;
  color: gray;
}

.content .left .second-row .inside .s-right i {
  border-radius: 50%;
  margin-left: 20px;
  font-size: 17px;
}

.content .left .second-row .inside .s-right i:hover {
  color: #ee8686;
}

.content .left .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  height: 60px;
  background-color: #f1efef;
  border-radius: 10px 10px 0px 0px;
}

.content .left .header .right-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

.content .left .header .right-icons i {
  border-radius: 50%;
  padding: 18px 18px;
  font-size: 20px;
  margin-left: 5px;
}

.content .left .header .right-icons i:hover {
  color: #ee8686;
  background-color: #ddd;
}

.content .left .header p {
  padding: 12px 30px;
  font-size: 20px;
}

.content .left .editor {
  position: block;
  margin-left: 15%;
  width: 100%;
  height: 100%;
  margin: 2% 0%;
  border: 2px solid #f0efef;
}

.content .right {
  background-color: #eee;
  right: 0;
  width: 30%;
  height: 100vh;
  margin-left: 10%;
}

.content .right .right-contents {
  width: 90%;
  margin-left: 10%;
}

.content .right .actions {
  width: 100%;
}

.content .right .actions p {
  margin-left: 20%;
}

.content .right .upper-hr {
  margin-top: 30%;
}

.content .right i {
  font-size: 20px;
  margin-left: 20%;
}

.content .right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  width: 90%;
}

.content .right a:hover {
  background-color: #eeb0b0;
  border-radius: 25px 0px 0px 25px;
  color: black;
}
/*# sourceMappingURL=codeview.css.map */